body {
	font-family: 'Manrope', sans-serif;
}

.container {
	max-width: 1110px;
}

section.section {
	margin-bottom: 80px;
}


.post-categories {
	list-style: none;
	padding: 0;
}

.post-categories a {
	color: white;
	font-size: 14px;
	line-height: 19px;
	text-decoration: none;
	font-weight: bold;
}

form.contact-form .form-section {
	margin-bottom: 9px;
}

form.contact-form #contact-form-submit {
	transition: all ease-in-out .3s;

	border: #218491 solid 1px;

}

form.contact-form #contact-form-submit:hover {
	border: #262626 solid 1px;
}

.contact-info li {
	margin-bottom: 19px;
}

.contact-info li a {
	color: #262626;
	transition: all .3s ease-in-out;
}

.contact-info li a:hover {
	color: #218491;
}

/**Header*/
.header-row {
	padding: 20px 0;
}

.header-row svg .a {
	fill: transparent;
	stroke: black;
}

.header__logo {
	color: black;
}

.header__logo span, .footer__logo span {
	display: inherit;
	font-size: 26px;
	line-height: 36px;
}

.header__menu .menu-item {
	padding: 8px 18px;
}
.header__menu{
	width: auto;
}
.header__menu .menu-item a {
	color: #262626;
	font-size: 14px;
	line-height: 19px;
	transition: .3s all ease-in-out;
}
.header__menu .menu-item a:hover {
	color: #218491;

}
/**Footer  */
footer {
	background-color: #262626;
	padding: 96px 0;
}

footer .footer__logo {
	color: #fff;
	margin-bottom: 26px;
}

footer p {
	color: #999999;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 60px;
}

footer .list-socials {
	column-gap: 17px;
}

footer .footer__socials svg path {
	fill: #218491;
	stroke: none;
}

footer h5 {
	color: #218491;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 17px;
}

footer .nav .nav-item {
	margin-bottom: 10px;
}

footer .nav .nav-item:last-of-type {
	margin-bottom: 0;
}

footer .nav .nav-link {
	color: #fff;
	font-size: 14px;
	line-height: 28px;
	transition: .3s all ease-in-out;
}
.footer .nav .nav-link:hover{
	color: #218491;
}

/**Other*/
form svg:hover {
	cursor: pointer;
}

.btn, .button {
	background: #218491;
	color: white;
	border-radius: 26px;
	font-size: 14px;
	line-height: 19px;
	padding: 16px 34px;
	border: none;

}

.btn:hover, .button:hover {
	background-color: white;
	color: black;
}

.btn.black:hover, .button.black:hover {
	color: white;

	background-color: black;
}

/**
Home
*/
/*Home Hero*/
.section__hero {
	height: calc(100vh - 107px);
}

.section__hero .carousel, .section__hero .carousel-inner, .section__hero .carousel-item {
	height: 100%;
}

.carousel-caption {
	bottom: 106px;
	padding: 0;
	width: 50%;
	text-align: left;
	left: 165px;
}

.carousel-caption .post-categories {
	list-style: none;
	padding: 0;
	margin-bottom: 25px;
}

.carousel-caption .post-categories a {
	color: white;
	font-size: 14px;
	line-height: 19px;
	text-decoration: none;
	font-weight: bold;
}

.carousel-caption .post-title {
	font-size: 40px;
	line-height: 55px;
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom: 19px;
}

.carousel-caption .post-content p {
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	margin-bottom: 28px;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

.carousel-control-next svg {
	transform: rotate(180deg);
}

/**Home post*/
.section__post .section__post-row-category .post-categories {
	list-style: none;
	padding: 0;
	margin-bottom: 9px;
}

.section__post .section__post-row-category .post-categories a {
	color: #262626;
	font-size: 14px;
	line-height: 19px;
	text-decoration: none;
	font-weight: bold;
}

.section__post .section__post-row-title h2 {
	font-size: 30px;
	line-height: 41px;
	font-weight: bold;
	color: #218491;
	margin-bottom: 19px;
}

.section__post .section__post-row-content p {
	font-size: 16px;
	line-height: 26px;
	color: #6F6F6F;
	margin-bottom: 28px;
}
.section__post .section__post-row-link .btn{
	border: 1px solid #218491;
}
.section__post .section__post-row-link .btn:hover{
border: 1px solid #218491;
}
	/**Home Latest*/
section.section__latest {
	background: #F1F1F1;
	padding: 90px;
	margin-bottom: 0;
}

.section__latest .section__latest-row {
	margin-bottom: 49px;
}

.section__latest .section__latest-row:last-of-type {
	margin-bottom: 0;
}

.section__latest .section__latest-row-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 41px;
	color: #218491;
	margin-bottom: 19px;
}

.section__latest .section__latest-row-text {
	line-height: 21px;
	font-size: 14px;
	color: #6F6F6F;
}

.section__latest .card-img-top {
	max-height: 206px;
	height: 206px;
}

.section__latest .card-body {
	padding: 35px;
	padding-left: 40px;
}

.section__latest .card {
	box-shadow: 20px 20px 30px #0000000F;
}

.section__latest .section__latest-row .card-title {
	font-size: 20px;
	line-height: 27px;
	font-weight: bold;
	color: #262626;
	margin-bottom: 20px;
}

.section__latest .section__latest-row .card-info {
	column-gap: 4px;
	margin-bottom: 15px;
}

.section__latest .section__latest-row .card-link {
	color: #262626;
	opacity: 1;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
	background: none;
	padding: 0;
}


.section__latest .section__latest-row .card-link:after {
	content: "";
	height: 2px;
	width: 50px;
	background: #218491 0% 0% no-repeat padding-box;
	display: block;
	transition: all .3s ease-in-out;
	margin-left: 26px;
}

.section__latest .section__latest-row .card-link:before {
	content: "";
	height: 2px;
	width: 0px;
	background: #218491 0% 0% no-repeat padding-box;
	display: block;
	transition: all .3s ease-in-out;
}

.section__latest .section__latest-row .card-link:hover:after {
	content: "";
	height: 2px;
	width: 0px;
	background: #218491 0% 0% no-repeat padding-box;
	display: block;
	margin-left: 0;
}

.section__latest .section__latest-row .card-link:hover:before {
	content: "";
	height: 2px;
	width: 50px;
	background: #218491 0% 0% no-repeat padding-box;
	display: block;
	margin-right: 26px;
}

.section__latest .section__latest-row .post-categories {
	margin-bottom: 0;
}

.section__latest .section__latest-row .post-categories li {
	display: flex;
}

.section__latest .section__latest-row .post-categories a {
	color: #218491;
}

.section__latest .section__latest-row .post-date {
	font-size: 14px;
	line-height: 19px;
	color: #999999;
	font-weight: bold;
}

/*Home banner*/
.section__banner .section__banner-row .col-img {
	padding: 0;
}

.section__banner .section__banner-row .col-text {
	padding: 60px;
	padding-right: 170px;
	background: #218491;
	display: flex;
	/* align-items: center; */
	flex-direction: column;
	justify-content: flex-end;
}

.section__banner .section__banner-row .col-text .section__banner-row-subtitle p {
	color: #FFFFFF;
	opacity: 1;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	margin-bottom: 9px;
}

.section__banner .section__banner-row .col-text .section__banner-row-title h3 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 30px;
	line-height: 41px;
	margin-bottom: 19px;
}

.section__banner .section__banner-row .col-text p {
	color: #FFFFFF;
	line-height: 26px;
	font-size: 16px;
	margin-bottom: 28px;
}

.section__banner .section__banner-row .col-text .btn {
	background: #000;
}

.section__banner .section__banner-row .col-text .section__banner-row-link .btn:hover {
	color: #218491;
	background: #fff;
}

@media screen and (max-width: 991px) {
	.section__banner .section__banner-row .col-text {
		text-align: center;
		padding: 60px 20px;

	}

	.section__latest {
		padding: 80px 12px;
	}

	.carousel-caption {
		bottom: 10%;
		padding: 0;
		width: 80%;
		text-align: left;
		left: 10%;
	}

	.carousel-caption .post-title {
		font-size: 30px;
		line-height: 40px;
		font-weight: bold;
		color: #FFFFFF;
		margin-bottom: 19px;
	}
	.header__menu {
		position: relative;
		width: -webkit-fill-available;
	}

	#menu-main-menu {
		position: absolute;
		top:100%;
		z-index: 9;
		background: white;
		width: 100%;
	}


}

@media screen and (max-width: 425px) {

	.section__banner .section__banner-row .col-text {
		padding: 60px 20px;
	}

	.carousel-caption .button {
		width: 100%;
	}

}
