body {
	font-family: 'Manrope', sans-serif;
}
.container{
	max-width: 1110px;
}
section.section{
	margin-bottom: 80px;
}
/**Header*/
.header-row {
	padding: 20px 0;
}
.header-row svg .a{
	fill:transparent;
	stroke: black;
}
.header__logo {
	color: black;
}

.header__logo span,.footer__logo span {
	display: inherit;
	font-size: 26px;
	line-height: 36px;
}

.header__menu .menu-item {
	padding: 8px 18px;
}

.header__menu .menu-item a {
	color: #262626;
	font-size: 14px;
	line-height: 19px;
}

/**Footer  */
footer {
	background-color: #262626;
	padding: 96px 0;
}

footer .footer__logo {
	color: #fff;
	margin-bottom: 26px;
}
footer p{
	color:#999999;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 60px;
}
footer .list-socials{
	column-gap: 17px;
}
footer  .footer__socials svg path{
	fill:#218491;
	stroke: none;
}

footer h5{
	color: #218491;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 17px;
}
footer .nav .nav-item{
	margin-bottom: 10px;
}
footer .nav .nav-item:last-of-type{
	margin-bottom: 0;
}

footer .nav  .nav-link{
	color: #fff;
	font-size: 14px;
	line-height: 28px;
}
/**Other*/
form svg:hover {
	cursor: pointer;
}

.btn, .button {
	background: #218491;
	color: white;
	border-radius: 100px;
	font-size: 14px;
	line-height: 19px;
	padding: 15px 30px;
	border: none;

}

.btn:hover, .button:hover {
	background-color: white;
	color: black;
}

.btn.black:hover, .button.black:hover {
	color: white;

	background-color: black;
}
/**
Home
*/
/*Home Hero*/
.section__hero{
	height: calc(100vh - 107px );
}
.section__hero .carousel, .section__hero .carousel-inner,.section__hero .carousel-item{
	height: 100%;
}
.carousel-caption{
	bottom: 106px;
	padding: 0;
	width: 50%;
	text-align: left;
	left:165px;
}
.carousel-caption .post-categories{
	list-style: none;
	padding: 0;
	margin-bottom: 25px;
}
.carousel-caption .post-categories a{
	color: white;
	font-size: 14px;
	line-height: 19px;
	text-decoration: none;
	font-weight: bold;
}
.carousel-caption .post-title{
	font-size: 40px;
	line-height: 55px;
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom: 19px;
}
.carousel-caption .post-content p{
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	margin-bottom: 28px;
}
.carousel-control-next, .carousel-control-prev{
	width: 5%;
}
.carousel-control-next svg{
	transform: rotate(180deg);
}
/**Home post*/
.section__post .section__post-row-category .post-categories{
	list-style: none;
	padding: 0;
	margin-bottom: 9px;
}

.section__post .section__post-row-category .post-categories a{
	color: #262626;
	font-size: 14px;
	line-height: 19px;
	text-decoration: none;
	font-weight: bold;
}
.section__post .section__post-row-title  h2 {
	font-size: 30px;
	line-height: 41px;
	font-weight: bold;
	color: #218491;
	margin-bottom: 19px;
}
.section__post .section__post-row-content p{
	font-size: 16px;
	line-height: 26px;
	color: #6F6F6F;
	margin-bottom: 28px;
}
